{% extends "user/new_base.html" %}
{% block title %} Display Collect Article {% endblock %}
{% block content %}
    <h3 class="ui horizontal divider header">
        <i class="pin icon"></i>
        Save Videos
    </h3>
    {% for video in videos %}
        <div class="ui positive message">
            <div class="header">
                <a href={{ video.get_absolute_url }}>
                    {{ video.title }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}