{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ten minutes</title>
    <link rel="stylesheet" href={% static 'css/semantic.css' %} media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href={% static 'css/detail.css' %} media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">


</head>

<body>
<div class="ui inverted top fixed menu borderless red menu">
    <div class="header item">
        <div class="ui image">
            <img src="../static/images/tenlogo.png" alt="">
        </div>
    </div>

    <div class="right menu">
        <div class="item">
            <h5 class="ui inverted header">
                <div class="ui mini circular image">
                    <img src="../static/images/face.html" alt="">
                </div>

                <span>admin</span>

            </h5>
        </div>
        <div class="item">

            <a href="#" class="ui inverted circular button">Logout</a>

        </div>
    </div>
</div>
<div class="ui vertical inverted detail segment"></div>

<div class="ui basic segment container">
    {% for article in article_list %}
        <a href={{ article.get_absolute_url }}>
            <h1 class="ui header">{{ article.title }}</h1>
        </a>
        <i class="icon grey unhide"></i>
        <span style="color:#bbbbbb">{{ article.hits }}</span>
        <span class="" style="color:rgb(226, 226, 226)">|</span>
        <i class="icon grey checkmark"></i>
        <span style="color:#bbbbbb"> create_on:{{ article.create_on|date:"Y-m-d" }}</span>
        <i class="icon grey checkmark"></i>
        <span style="color:#bbbbbb"> 5673 people got it</span>
        <i class="icon grey checkmark"></i>
        <span style="color:#bbbbbb">update_on:{{ article.update_on|date:"Y-m-d" }}</span>
        <p>
            {{ article.content }}
        </p>
        <div class="ui divider"></div>
        <button class="ui  tiny button" type="submit" name="vote" value="like">

            <i class="icon checkmark"></i>
            Get it!
        </button>

        <button class="ui red tiny button" type="submit" name="vote" value="normal">
            <i class="icon bomb"></i>
            Hmmm...
        </button>

        <button class="ui secondary circular tiny right floated pin icon button">
            <i class="pin icon"></i>
            Saved
        </button>

    {% endfor %}
    <div class="ui teal segment">
        <div class="ui center aligned header">搜索</div>
        <div class="ui form">
            <div class="fields">
                <form class="sixteen wide field" action="https://duckduckgo.com" method="get">
                    <div class="field">
                        <input type="text" name="q" value="" placeholder="输入内容">
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="ia" value="images">
                            <label>搜索图片</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="ia" value="color">
                            <label>搜索网站</label>
                        </div>
                    </div>
                    <button class="ui teal center aligned button" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>

</div>

</body>

</html>
